.profilecontainer{
    position: relative;
    top: 8rem;
    left: 25%;
}

.usershowimg{
    height: 20rem;
    width: 20rem;
    float: left;
    margin-right: 2rem;
}

.userinfo{
    text-transform: lowercase !important;
    font-size: 1rem;
    font-weight: bold;
    padding: .2rem;
}

.username{
    color: #007ee5;
    font-size: 2rem;
}

.clear{
    clear:both;
}

.addexemp{
    margin:.5rem;
    margin-left: 0rem;
}

.blocked{
    color: #FC4445;
}

.non-blocked{
    color: #007ee5;
}